<div class='resource'>
   <span class='resource-kind'></span>
   <div class='options'>
         <img class='human-place' src="../../../../assets/human.svg" data-id="0" (click)="checkResources($event.target)">
         <img class='human-place' src="../../../../assets/human.svg" data-id="1" (click)="checkResources($event.target)">
         <img class='human-place' src="../../../../assets/human.svg" data-id="2" (click)="checkResources($event.target)">
         <img class='human-place' src="../../../../assets/human.svg" data-id="3" (click)="checkResources($event.target)">
         <img class='human-place' src="../../../../assets/human.svg" data-id="4" (click)="checkResources($event.target)">
         <img class='human-place' src="../../../../assets/human.svg" data-id="5" (click)="checkResources($event.target)">
         <img class='human-place' src="../../../../assets/human.svg" data-id="6" (click)="checkResources($event.target)">
   </div>
</div>
